# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environment files
.env

# Log files
*.log

# JSON files containing sensitive or runtime data
*.json
!*.sample.json

# No json with comments because that is not a standard config file
*.jsonc

# Docker files (if not needed in the repository)
.dockerignore

# System-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# No environements
.env
.venv
.lenv
.menv
.wenv
env
venv
lenv
menv
wenv

# no build artifacts
dist/
build/
*.spec
